{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body %}
<div class="container">
<div class="center-div">

    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have e-mailed you. If you have not received it please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

</div>
</div>
{% endblock %}
