{% extends 'base.html' %}

{% block title %} PROFILE {% endblock %}

{% block body %}

<div class="container">
  <div class="profile">

{% if not profile.user %}
  <h2>complete your profile<a href="#">here</a> </h2>
{% else %}

    <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <div class="section-title">
              <p>Your Challenges</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                  {% for item in entry %}
                   {% endfor %}
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>




{% endif %}

  </div>
</div>

{% endblock %}

