{% extends 'base.html' %}

{% block title %} PROFILE {% endblock %}

{% block body %}

<div class="container">
  <div class="profile">

{% if not profile.user %}
  <h2>complete your profile<a href="#">here</a> </h2>
{% else %}

    <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <div class="section-title">
              <p>Your Challenges</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                  {% for item in entry %}
                  challenge:{{ item.challenge }}<br>
                  satus: {{ item.completed }}<br>
                  date submitted: {{ item.datesubmitted }}<br>
                  language: {{ item.language }}<br>
                  framework: {{ item.framework }}<br>
                  database: {{ item.database }}<br>
                  github: {{ item.github }}<br>
                  project: {{ item.project }}<br>
                  <hr>
                   {% endfor %}
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>




{% endif %}

  </div>
</div>

{% endblock %}

