{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Submission for {{ entry.challenge.title }} {% endblock %}

{% block body %}

<div class="center-div">
     <div class="container" >
                <form method="post" class="form-control" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}
                    <p class="text-center">
                   <button type="submit" class="btn btn-dark">SUBMIT ...</button>
                    </p>
                </form>
     </div>
</div>

{% endblock %}
