* {
  box-sizing: border-box;
}

#flash-message {
            margin: 5px 40vh;
            padding: 5%;
            font-size: 15px;
        }

.form-group .form-control {
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    border: 2px solid #faf9f8;
    margin: 1%;
}

.form-group input {
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    border: 1px solid #faf9f9;
    margin: 2%;
}

.form-group textarea {
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    border: 1px solid #faf9f9;
    margin: 1%;
}

.form-group ::placeholder {color:  #smoke-white;}

.form-group button[type=submit], .form-group input[type=submit] {
  background: black;
  border: 0;
  padding: 10px 24px;
  color: white;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 10px;
  align-item: center;
} {
  background: black;
  border: 0;
  padding: 10px 24px;
  color: white;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 10px;
  align-item: center;
}

.form-group a {
    color: black;
}

.center-div{
    margin: 8vh 20% 20vh 20%;
    border: 2px solid #faf9f8;
    padding: 2%;
    border-radius: 15px;
}

.center-div a{
     color: black;
}

.products {
	margin-top: 100px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

/* Latest Produtcs */

.product-item {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.product-item .down-content {
	padding: 30px 10px;
	position: relative;
}


.product-item .down-content p {
	color: #4e4039;
}

.product-item .down-content a{
	list-style: none;
    text-decoration: none;
}

.product-item img {
	width: 100%;
	overflow: hidden;
}

.product-item .down-content h4 {
	font-size: 17px;
	color: #4e4039;
	margin-bottom: 15px;
	text-decoration: underline;
}


.product-item .down-content p {
	margin-bottom: 10px;
}

.product-item .down-content span {
	float: left;
	bottom: 30px;
	font-size: 13px;
	background-color: #eb5d1e;
	font-weight: 500;
	color: #fff;
	border-radius: 5px;
	padding: 2px 5px;
	margin-bottom: 15px;
}

.instr {
    margin: 6vh 25% 10vh 25%;
    padding: 2%;
    font-size: 20px;
}

#listy {
    text-decoration: none;
}

#listy h3{
    text-transform: capitalize;
}
@media (max-width: 768px) and (max-width: 991px){
  .center-div{
        margin: 4vh 2%;
    }
  .center-div button{
        margin-top: 20px;
        font-size: 24px;
        padding: 5px 10px;
  }

  .instr {
    margin: 12vh 5%;
  }

  #flash-message {
        margin: 5px 10px;
    }
}